
version: "3.9"

services:
  web:
    image: web:latest
    build: .
    container_name: django_app
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_NAME: django_db
      DB_USER: django_user
      DB_PASS: django_pass
    volumes:
      - ./app:/app

  db:
    image: postgres:16
    container_name: django_db
    environment:
      POSTGRES_DB: django_db
      POSTGRES_USER: django_user
      POSTGRES_PASSWORD: django_pass
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:
